Repository bid1314/blackboxai-1741308943233: changes, and which lint-staged commands are due for each by the changed paths.
All: composer run-script phpcs, composer run-script phpstan, eslint --fix, prettier --write

.lintstagedrc:

{
    "*.php": [
        "composer run-script phpcs",
        "composer run-script phpstan"
    ],
    "*.js": [
        "eslint --fix",
        "prettier --write"
    ],
    "*.{css,scss}": [
        "prettier --write"
    ],
    "*.{json,md}": [
        "prettier --write"
    ]
}

Add .huskyrc.json 1741312062010
  .huskyrc.json
Due: prettier --write

Add .babelrc 1741312062646
  .babelrc
Due: none

Add phpunit.xml.dist 1741312063813
  phpunit.xml.dist
Due: none

Add jest.config.js 1741312063283
  jest.config.js
Due: eslint --fix, prettier --write

Add phpstan.neon 1741312064396
  phpstan.neon
Due: none

Add phpcs.xml.dist 1741312064963
  phpcs.xml.dist
Due: none

Add composer.json 1741312065532
  composer.json
Due: prettier --write

Add .gitignore 1741312066146
  .gitignore
Due: none

Add postcss.config.js 1741314982416
  postcss.config.js
Due: eslint --fix, prettier --write

Add tailwind.config.js 1741314983047
  tailwind.config.js
Due: eslint --fix, prettier --write

Add tests/js/Unit/DesignTool.test.js 1741314983718
  tests/js/Unit/DesignTool.test.js
Due: eslint --fix, prettier --write

Add tests/php/Unit/DebugTest.php 1741314986580
  tests/php/Unit/DebugTest.php
Due: composer run-script phpcs, composer run-script phpstan

Add bin/migrate.php 1741314987830
  bin/migrate.php
Due: composer run-script phpcs, composer run-script phpstan

Add bin/create-release.sh 1741314988480
  bin/create-release.sh
Due: none

Add bin/install-wp-tests.sh 1741314989037
  bin/install-wp-tests.sh
Due: none
